<launch>
    <arg name="vehicle_name" default="bluerov" doc="Something like 'uuv04' or 'bluerov.'" />

    <arg name="camera_name" default="ov9281_00" doc="Used as prefix for the tag detections and for correctly resolving the camera transformations. Typically either 'vertical_camera' or 'front_camera'" />
    <arg name="ns" default="" />
    
    <arg name="process_model" default="simple" />
    <arg name="measurement_model" default="dist" />

    <!-- start EKF -->
    <node pkg="mu_auv_localization" type="vision_ekf_node" name="vision_ekf_node" clear_params="true" output="screen">
        <param name="camera_name" type="str" value="$(arg camera_name)" />
        <param name="ns" value="$(arg ns)" />
        <param name="vehicle_name" value="$(arg vehicle_name)"/>
        <param name="measurement_model" type="str" value="$(arg measurement_model)" />
        <param name="process_model" type="str" value="$(arg process_model)" />
        <rosparam command="load" file="$(find mu_auv_localization)/config/tag_poses.yaml" />
        <rosparam command="load" file="$(find mu_auv_localization)/config/ekf_distances_params.yaml" />
    </node>
</launch>
